body{
    background-color: gainsboro;
}
/* transformaciones */
.cuadrado{
    font-size: 30px;
    color: white;

    margin: 0 auto;
    width: 250px;
    height: 200px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* lo incrina para un lado en grados */
    /* transform: rotate(25deg) ;    */
    
    /* scale (sx, sy)  Transforma el tamaño por el dobre o tripre o como qieras */ 
    /* scalex,scaley */
    /* transform: scale(2.4);  */
    /* transform: scale(2.5,3); */

    /* translate(tx, ty) su mueve arriva y en los laterales */
    /* transform: translate(50px , 100px );  */
    /* transform: translate(200px);  */
    transition: transform .5s;
}
.cuadrado:hover{
    /* transform: scale(1.5,1.1); */
    /* transform: rotate(25deg); */
    transform: translate(-110px,70px);
}

 
/* transiciones */

.cuadrado1{
    font-size: 60px;
    color: white;

    margin: 0 auto;
    width: 250px;
    height: 200px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;

    transition:background 3s, width .5s ,transform 1s ; 


    /* cambia de color en un tiempo menor qe 1s */
    /* transition-property: background; */
    /* cambia de color durante el tiempo dado y se ve la transicion */
    /* transition-duration: 2s; */
    /* despues del tiempo elegido cambia de color de imediato */
    /* transition-delay: 2s;  */


    /* transition-timing-function: ; tiene muchos valores de velocidad */
}
.cuadrado1:hover{
    background: rgb(233, 20, 20);
    /* height: 400px;  */
     width: 400px;  
    /* font-size: 60px; */
    /* transform: rotate(25deg); */
    /* transform: scale(2);   */

}
/* ------------------------------------------------------------------------------------------ */

/* tranciciones como dice en elpdf */
.contenedor{
    background-color: black;
     padding: 20px; 
}
.caja{
    
    font-size: 40px;
    color: white;

    margin: 30px auto;
    width: 300px;
    height: 250px;
    background-color: rgb(24, 106, 117);

    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* caja 1 */
.caja:first-child{
    transition: all 1s ease;
}

.caja:first-child:hover{
    box-shadow: inset 0 0 0 15px rgb(17, 0, 255);
    
}
/* caja 2 */
.caja:nth-child(2){
    background-color: rgb(255, 0, 0);
    transition: background 1s;
}
.caja:nth-child(2):hover{
    background-color: rgb(32, 26, 26);
}
.caja:nth-child(3){
    opacity: 0.4;
    background-color: grey;
    transition: opacity 0.5s;
}
.caja:nth-child(3):hover{
    opacity:1;
}
.caja:last-child{
    color: black;
    width: 300px;
    height: 300px;
    background-color: rgb(22, 236, 236);
    transition: border-radius .2s ;
}
.caja:last-child:hover{
    border-radius: 50%;
}
/* ------------------------------------------------------------------------------------------ */
.contenedor1{
    background-color: rgb(160, 11, 11);
    padding: 20px;
}
.caj{
    font-size: 30px;
    color: white;

    margin: 30px auto ;
    width: 200px;
    height: 150px;
    background-color: blue;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* caja1 */
.caj:first-child{
    background-color: black;
    transition: transform .5s;
    /* transform: rotate(-25deg); */
}
.caj:first-child:hover{
    transform: rotate(-25deg);
}
/* caja2 */
.caj:nth-child(2){
    background-color: green;
    transition: transform 1s;
}
.caj:nth-child(2):hover{
    transform: scale(.7);
}
/* caja3 */
.caj:nth-child(3){
    color: black;
    background-color: gold;
    transition: transform 1s;
}
.caj:nth-child(3):hover{
    transform: scale(1.5);
}
/* caja4 */
.caj:nth-child(4){
    background-color: blueviolet;
    transition: transform 1s;
}
.caj:nth-child(4):hover{
    transform: scale(1.5,0.6);
}


