h1{
    color: hsl(0, 0%, 99%);
    /* estilo de letra */
    font-family:cursive;
    /* tamaño de la letra */
    font-size:50px;
    /* transformar letra en mayuscula */
    text-transform: uppercase;  
    /* tener el texto en el centro de la caja */
    text-align: center; 
      /*color de linea ancha de la letra  */
    /* background-color: rgb(31, 27, 27); */

    /* es el ancho ( width ) */
    width: 500px;
    /* tamaño de abajo ( height )*/
     height: 80px;  

    /* mueve la caja  de derecha a isquierda y arriba y abajo aunque las dos ultimas no sirven de mucho*/
    margin-left: 400px;

    background: radial-gradient(red 20% ,black);
    /* bordes redondeados */
    border-radius: 50px 10px;
}

p{
    color: #0000ff;
    font-family: cursive;
    font-size: 15px;
}

h2{
    color: #613803;
    border-bottom:2px solid #613803;
    font-size: 30px;
    /* fuente sacada de afuera, de internet de una pagina  https://fonts.google.com/ */
    font-family: 'Anton', sans-serif;
}

.otrocolor{
    color: rgb(22, 2, 22);
}

ul{
    color:rgb(19, 20, 7);
    font-family: monospace;
    font-size: 20px;
}
#lista{
    /* lista de autos */
    width: 200px;
    height: 200px;
    background-color: rgb(255, 17, 17);
    border: 5px solid black;
    /* bordes redondeados */
    border-radius: 40px 20px 30px 10px;
}
#formula{
    width: 300px;
    height: 250px;
    /* color dentro de la caja */
    background-color: aqua;
    border: 5px solid rgb(23, 155, 196) ;
    padding: 20px;
    /* text-transform: uppercase;  */
    margin-left: 550px;  
}
h4{
    background-color: red;
}

#unaopcion{

    width: 150px;
    height: 100px;
    background-color: rgb(218, 73, 223);
    border: 15px solid rgb(113, 11, 109);
    padding: 15px;
    margin-left: 350px;
}

.muevete{
    /* doble color o x3.x4.x5 ext */
    background: linear-gradient(rgb(243, 247, 13),rgb(43, 202, 51));
    width: 400px;
    height: 400px;
    margin-left: 700px;
    padding: 25px;
    text-align: center;
    border: 5px solid red ;
}

h3{
    /* color de lo ancho del texto que seria la caja */
    background-color: rgb(47, 96, 136);
}

img{
    border: 10px solid red;   
    /* le da sombra / 20px pal costado y 30 para abajo y el 40px es el tamaño se la sombra ,0 siemple */
    box-shadow: 20px 30px 40px 0 #000;
}

header{
    width: 300px;
    height: 300px;
    /* le agrega un triple color ala caja */
    background: linear-gradient( rgb(235, 250, 19), rgb(235, 53, 8), rgb(9, 255, 0));
    /* bordes redondeados */
    border-radius: 25px;
}

.columnas{
    /* define cuantas columnas tendra */
    column-count: 3;
    /* que tan ceparado estara */
    column-gap: 50px;
}

#icono{
    font-size: 80px;
    width: 300px;
    height: 200px;
    color: rgb(14, 12, 12);
    background: linear-gradient(to right top, blue,rgb(16, 240, 16) ,red 85%);
    text-align: center;
    /* paddind: controla las cuatro direcciones del contenido de adentro  */
    padding-top: 10px;
}

.fa-solid{
    font-size: 100px;
}
    /* Codigo sacado de una pagina letra web precisamente (animeflv) */
    /* border-collapse: separate; */
    /* text-indent: initial; */
    /* white-space: pre; */
    /* font-size: initial; */
    /* font-family: monospace;  */
    /* tab-size: 4; */
    /* border-spacing: 0px; */