.navbar{ 
    /* background-image: linear-gradient(55deg, red,black); */
    /* background: linear-gradient(0deg,#c25d5d 0%, #db1515 40%, #d35050 80%); */

     background-image: var(--bs-gradient); 
     background-color: #c90e0e; 
} 

.sidebar-nav ul li a {
    color: white;

    font-size: 26px;
    text-decoration: none;
    display: block;
    padding: 6px 10px;
    transition: 0.5s;
}
.sidebar-nav ul li a:hover{
    background-color: #c90e0e;
    border-radius: 4px;
}
.sidebar-nav .offcanvas{
    width: 220px; 
    border: none; 
}
.sidebar-nav .offcanvas ul li a span{
    font-size: 18px;
    position: relative;
    top: -4px;
    transition: 0.5s;
}
.sidebar-nav .offcanvas.show ul li a:hover span{
    padding-left: 10px;
}
.sidebar-nav .dropdown-toggle::after {
    position: relative;
    top: 3px;
}

/* linea qe divide dentro de-offcanvas */
.divider{
    border: none;
    height: 2px;
    background: #dddddd;
}





.fin{
    /* display: flex;
    justify-content: center;
    align-items: center; */

 
    
    height: 850px;
}






